name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  create-release:
    uses: liquibase/build-logic/.github/workflows/create-release.yml@v0.7.6
    secrets: inherit
