name: Build and Test

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  authorize:
    environment: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository && 'external' || 'internal' }}
    runs-on: ubuntu-latest
    steps:
      - run: true

  build:
    needs: authorize
    uses: liquibase/build-logic/.github/workflows/os-extension-test.yml@v0.5.7
    secrets: inherit
    
  integration-tests:
    name: Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        java: [11, 17, 21]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java }}
        distribution: 'adopt'
    - name: Test With Maven
      run: mvn clean verify --file pom.xml


  dependabot:
    needs: build
    uses: liquibase/build-logic/.github/workflows/dependabot-automerge.yml@v0.5.7
    secrets: inherit
